
{% include "header.html" %}
<div class="container py-5">
    <div class="row">
        <div class="col-md-6">
            <img src="static/images/theartist.jpeg" alt="Pixelart of Myself" class="img-fluid rounded-image">
        </div>
        <div class="col-md-6">
            <h1 class="mytitle">Salutations!</h1>
            <p>I am André, a passionate game developer with a strong interest in every aspect of the development pipeline.</p>
            <p>I am primarily a programmer, utilizing Unity and C#, although I also possess a deep understanding of game design principles, and artistic ability. I believe that my combination of technical skills and creative thinking allows me to approach game development from multiple perspectives. Whether it's coding complex mechanics or crafting engaging gameplay experiences, I am fully committed to honing my skills and contributing to the world of game development.</p>
        </div>
    </div>
</div>

<div class="flex-container">
    <hr class="custom-hr">
</div>

<div class="container text-center py-3">
    <h1>Quick Links to Projects</h1>
</div>

<div class="container project-preview py-3">
    <div class="row">
        {% for project in projects %}
        <div class="col-md-4 mb-3">
            <div class="card text-white bg-dark mb-3">
                <a href="#" target="_blank">
                    <img src="{{project.thumbnail}}" alt="{{project.title}} cover image" class="card-img-top">
                </a>
                <div class="card-body">
                    <h5 class="card-title"> {{project.title}} </h5>
                    <p class="card-text"> {{project.summary}} </p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% include "footer.html" %}

